* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {   
    --spacing-tiny: 16px;     
    --spacing-small: 24px;
    --spacing-medium: 40px;
    --spacing-big: 64px;
    --spacing-bigger: 6vw;
    --spacing-huge: 14vw;
    
    background-color: black
}

a {
    color:white
}

a.button {
    color:black
}

a:visited {
  color: white;
}

.button:visited {
    color:black
}

a:hover {
    opacity:60%
}

a:active {
  color: white;
} 

/*  */

h1, h2, h3, .button, p {
    color: white;
    font-family: 'Scto Grotesk A', sans-serif;
    font-weight: 300;
    line-height: 120%;
}

h1 {
    font-size: clamp(1.75rem, 2.75vw + 0.1rem, 4rem);
}

h2 {
    font-size: clamp(1.3rem, 2.5vw + 0.1rem, 4rem);
}

.reaktor h2 {
    font-size: clamp(2rem, 2.5vw + 0.1rem, 4rem);
}

h3 {
    font-size: clamp(1.25rem, 1.75vw + 0.1rem, 1.5rem);
}

p {
    font-size: clamp(1.25rem, 1.5vw + 0.1rem, 4rem);
    line-height: 140%
}

.button {
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 400;
    color: black
}

.button.small {
    font-size: clamp(0.75rem, 1vw, 1rem);
}


/* COMPONENTS */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-tiny) var(--spacing-bigger);
    gap: auto;

    position: fixed;
    width: 100%;

    left: 0px;
    top: 0px;

    background: #000000;


    flex: none;
    order: 8;
    flex-grow: 0;
    z-index: 8;
}



header img {
    width: clamp(var(--spacing-medium), 4vw, var(--spacing-big));
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
/*     padding: 1.8vw 2.5vw; */
    padding: clamp(var(--spacing-small), 1vw, var(--spacing-medium)) clamp(32px, 1vw, var(--spacing-medium));

    background: #FFFFFF;
    border-radius: 1000px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.button.small {
    padding: clamp(var(--spacing-tiny), 1vw, var(--spacing-tiny)) clamp(var(--spacing-small), 1.5vw, var(--spacing-big));
}

/* LAYOUTS */


main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;
    position: relative;
    width: 100%;
}

section {
    min-height: 100vh;
}

.fourSeasons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-medium) var(--spacing-bigger);
    gap: var(--spacing-bigger);

    width: 100%;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.fourSeasons .hack {
    /*  This helps keeping the logo centered */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    width: 100%;
    height: 1px;
    opacity: 0;
        
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.fourSeasons .name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: clamp(var(--spacing-tiny), 2vw + 0.1rem, 3vw);
    width:47vw;
}

.fourSeasons h2 {
    color:grey;
    width:100%;
    text-align: center
}

.fourSeasons img {
    width:100%;
    height:auto
}


.fourSeasons .footer {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

    width: 100%;
/*     height: 24px;
 */

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    
}

.fourSeasons .footer h3 {
    display: flex;
    align-items: center;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.eventDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     padding: 80px 200px; */
    padding: var(--spacing-bigger) var(--spacing-huge);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
}

.eventDescription h1 {
    display: flex;
    align-items: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.eventExtra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     padding: 80px 200px; */
    padding: var(--spacing-bigger) var(--spacing-huge);

    text-align:center;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
}

.eventExtra .button {
    margin-top: clamp(32px, 3vw + 0.1rem, 4vw);
}


/* .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.8vw 2.5vw;
    margin-top: 4vw;

    background: #FFFFFF;
    border-radius: 1000px;

    flex: none;
    order: 1;
    flex-grow: 0;
} */

.reaktor {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 120px 0px;
gap: 4vw;

width: 100%;

/* Inside auto layout */

flex: none;
align-self: stretch;
flex-grow: 0;
z-index: 6;
    
    overflow: clip;
}

.reaktor .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
/*     padding: 0px 0px 0px var(--margin-big); */
    padding: 0px var(--spacing-bigger);
    gap: 0;

width:50%;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.reaktor .content p {
    margin-top: clamp(0px ,2vw + 0.1rem, 2vw)
}

.reaktor .button {
    margin-top: clamp(var(--spacing-small), 3vw + 0.1rem, 4vw);
}

.reaktor .image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    background-image: url("img/reaktorOffice.png");
    background-size: cover;
    background-position: center;
    width:50%;
    aspect-ratio: 1/1;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}




.kaleidoscope {
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
}

.kaleidoscope.spring {
    background-image: url("img/Kaleidoscope-Autumn.png");
}

.kaleidoscope.summer {
    background-image: url("img/Kaleidoscope-Summer.png");
}

.kaleidoscope.autumn {
    background-image: url("img/Kaleidoscope-Autumn.png");
}

.kaleidoscope.winter {
    background-image: url("img/Kaleidoscope-Winter.png");
}





/* RESPONSIVENESS */


@media (max-width: 1024px) {
    header {
        padding: var(--spacing-tiny) var(--spacing-big);
    }
    
    .fourSeasons .name {
        width:64vw;
    }
    
    .reaktor {
        flex-direction: column;
        padding: var(--spacing-big) var(--spacing-big);
        gap: var(--spacing-medium);
    }
    
    .reaktor .image {
        order:0;
        width:100%;
        aspect-ratio: 16/9
    }
    
    .reaktor .content {
        order:1;
        padding:0;
        width:100%
    }
}


@media (max-width: 700px) {
    header {
        padding: var(--spacing-tiny) var(--spacing-medium);
    }
    
    section .button {
        width:100%
    }   
    
    .fourSeasons {
        padding: var(--spacing-medium)
    } 
    
    .eventDescription, .eventExtra, .reaktor{
        padding: var(--spacing-big) var(--spacing-medium);
    }
    
    .fourSeasons .name {
        width: 100%
    }
    
    .fourSeasons .footer {
        flex-direction: column;
        gap: 12px
    }

}